
<div class="my_form" id="stylized">
<% form_tag session_path do -%>
<label for="login">What's Your Name?</label>
<%= text_field_tag 'login' %>

<!-->
<label for="password">Password</label><br/>
<%= password_field_tag 'password' %>
-->

<!-- Uncomment this if you want this functionality
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>
-->
	<%= submit_tag 'Log in', :class => "mf_button" %>
	<div class="spacer"></div>

<div id="registration">or <%= link_to "First Time?", new_user_path, :class => 'register' %></div>
<div class="spacer"></div>

<% end -%>
</div>
