	<div id="dashboard">
		<h3><%=h @user.login  %></h3>
		<table>
			<thead>
			<tr>
				<th scope="col">Concept Title</th>
				<th scope="col">Status</th>
			    <th scope="col">Updated Last At</th>
			    <th scope="col">-</th>
			 
			</tr>

			<colgroup>
			<col id="titleCol" />
			<col id="statusCol" />
			<col id="createdCol" />
			</colgroup>


			</thead>
<tbody>
		<% if !@concepts.blank? %>
		  <% for concept in @concepts %>
		<tr>
			<td><%= link_to(concept.title, concept_path(concept))  %></td>
			<% if concept.status == 'Approved' %>
		  		<td style="background-color:#99FF99;">
			<% elsif concept.status == 'Rejected' %>
				<td style="background-color:#FF9999;">
			<% elsif concept.status == 'With Compliance' %>
				<td style="background-color:#FFFFCC;">
			<% else %>
				<td>
			<% end -%>
			<%=h concept.status %></td>
			<td><%=h concept.updated_at.strftime('%D') %></td>
			<td>
				<%= link_to('delete', {:action => 'destroy', :controller => 'concepts', :id => concept}, :method => 'delete', :confirm => 'Really?') %>
			</td>
		</tr>
		  <% end %>
		<% else %>

		<% end %>
		</tbody>
		</table>
	</div>
