<% form_for @concept, :html => {:style => "margin:0;padding:0;", :multipart => true } do |f| %>
<%= f.error_messages %>

<fieldset>
	<legend>Basic details</legend>
	<p>
		<label>Title<span class="required">*</span></label>
		<%= f.text_field :title %>
	</p>
	<p>
		<label>Summary	<span class="required">*</span></label>
		<%= f.text_area :summary %>
	</p>
	<p>
		<label>Objectives</label>
		<%= f.text_area :objectives %>
	</p>
</fieldset>

<fieldset>
	<legend>Department Checks</legend>
		<div id="strip">
			<span class="strip">
			<%= f.check_box :consulted_legal %>
			<label class="choice">Compliance</label>
			</span>
			<span class="strip">
			<%= f.check_box :consulted_marketing %>
			<label class="choice">Marketing</label>
			</span>
			<span class="strip">
			<%= f.check_box :design_needed %>
			<label class="choice">Design</label>
			</span>
			<span class="strip">
			<%= f.check_box :moderation_requirement %>
			<label class="choice">Community</label>
			</span>
			<span class="strip">
			<%= f.check_box :subject_to_tx %>
			<label class="choice">Subject to TX</label>
			</span>
		</div>
</fieldset>

<% if current_user.is_admin? %>

<fieldset id="admin">
	<legend>Admins Only</legend>
	<label>Status</label>
	<%= select_from_statuses %>
</fieldset>

<% end -%>


<fieldset>
	<legend>Miscellaneous information</legend>
	<p>
		<label>Vertical</label>
		<%= select_from_verticals %>
	</p>
	<p>
		<label>Deadline<span class="required">*</span></label>
		<%= f.date_select :deadline %>
	</p>
</fieldset>

<fieldset id="columns">
	<legend>Cost Breakdown</legend>
<h5>Resource Days</h5>
	<p id="strip">
		

		<%= f.text_field :est_days_dev %>
		<label>Dev</label>

		<%= f.text_field :est_days_editorial %>
		<label>Editorial</label>
		
		<%= f.text_field :est_days_pm %>
		<label>Proj. Man</label>

		<%= f.text_field :est_days_design %>
		<label>Design</label>

		<%= f.text_field :est_days_ia %>
		<label>IA</label>

		<%= f.text_field :est_days_legal %>
		<label>Legal</label>
	</p>	
<% if :action == 'edit' %>
	<span class="total">Total days: <%= total_resource_days %></span>
	<% end -%>
	
	<h5>Additional Costs</h5>
	
	<p>
		<label>3rd Party Costs</label>
		<%= f.text_field :est_cost_external  %>
	</p>
</fieldset>

<fieldset>
	<legend>Budget</legend>
	<p>
		<label>Budget Name</label>
		<%= select_from_budgets %>
	</p>
	
	<p>
		<label>Amount to Spend</label>
		<%= f.text_field :budget  %>
	</p>
</fieldset>


<fieldset>
	<legend>Targets</legend>
	<p>
		<label>Traffic Estimate</label>
		<%= f.text_field :traffic_estimate  %>
		<small>Imps/Visits per month</small>
	</p>
	<p>
		<label>Revenue Estimate</label>
		<%= f.text_field :revenue_estimate  %>
		<small>per month</small>
	</p>
</fieldset>



<fieldset>
	<legend>Contacts</legend>

	<p>
		<label>Tech Contact</label>
		<%= f.text_field :poc_tech %>
	</p>
	<p>
		<label>Business Contact</label>
		<%= f.text_field :poc_business %>
	</p>
</fieldset>

<fieldset>
<legend>Attachment</legend>
<div>Attach a Document With This Concept</div>



<%= f.file_field :document, :class => "field file large" %>
<p class="instruct"><small>Word or JPEG Documents Only</small></p>

</fieldset>
<li class="buttons">
<%= f.submit "Send", :class => "btTxt" %>



<% end %>