<% form_for(@concept) do |f| %>
  <%= f.error_messages %>

	<p>Basic details</p>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :summary %>
  <%= f.text_area :summary, :size => 12 %>

	<p>Checklist from relevant departments</p>
		
		
  <%= f.label :consulted_legal %>
  <%= f.check_box :consulted_legal %>
	<div class="spacer"></div>



  <%= f.label :consulted_marketing %>
  <%= f.check_box :consulted_marketing %>
	<div class="spacer"></div>



  <%= f.label :design_needed %>
  <%= f.check_box :design_needed %>
	<div class="spacer"></div>
	</fieldset>


  <%= f.label :vertical %>
  <%= f.text_field :vertical %>
	<div class="spacer"></div>


	<% if current_user.is_admin? %>
	<p>For Admin Only</p>
    <%= f.label :status %>
    <%= select_from_statuses %>
  	<div class="spacer"></div>
	<% end -%>


	<p>Miscellaneous information</p>
  <%= f.label :deadline %>
  <%= f.date_select :deadline %>
	<div class="spacer"></div>

	<p>Cost Breakdown</p>

    <div class="num"> '3rd Party Costs' 
	<span class="small">(eg. 1000.00)</span></div>
    <%= f.text_field :est_cost_external, :class => 'num' %>
  
    <%= f.label 'Est Days Development' %>
    <%= f.text_field :est_days_dev, :class => 'num' %>

	<%= f.label 'Est Days Editorial' %>
    <%= f.text_field :est_days_editorial, :class => 'num' %>

	<%= f.label 'Est Days Proj. Man.' %>
    <%= f.text_field :est_days_pm, :class => 'num' %>
  
  	<%= f.label 'Est Days Design' %>
    <%= f.text_field :est_days_design, :class => 'num' %>

	<%= f.label 'Est Days IA' %>
    <%= f.text_field :est_days_ia, :class => 'num' %>

	<%= f.label 'Est Days Legal' %>
    <%= f.text_field :est_days_legal, :class => 'num' %>
	<div class="spacer"></div>
  	
	<% if :action == 'edit' %>
	<span class="total">Total days: <%= total_resource_days %></span>
	<% end -%>
	
    <div class="num">Budget
	<span class="small">(eg. 1000)</span></div>
    <%= f.text_field :budget %>
  	<div class="spacer"></div>

<p>People</p>
	<%= f.label 'Tech Point of Contact' %>
	<%= f.text_field :poc_tech %>
  
  	<%= f.label 'Business Point of Contact' %>
	<%= f.text_field :poc_business %>

    <%= f.submit "Update", :class => 'mf_button' %>
  	<div class="spacer"></div>

<% end %>