<h2>Latest Concepts</h2>

<div id="filters">
	

	<% form_tag concepts_path, :method => :get do %>
	<label>Filter by:</label>
	<%= select_tag "filter", "<option>All</option><option>Approved</option><option>Unapproved</option><option>Completed</option>" %>
	<%= submit_tag "Go", :class => "sub_sm" %>
	<% end -%>

</div>

<div id="dashboard">
<table>
	<thead>
	<tr>
		<th scope="col">Title</th>
		<th scope="col">Owner</th>
	    <th scope="col">Created</th>
	    <th scope="col">Vertical</th>
	    <th scope="col">Status</th>
	    <th scope="col">Deadline</th>
	    <th scope="col">Budget</th>
	</tr>
	
	<colgroup>
	<col id="titleCol" />
	<col id="ownerCol" />
	<col id="createdCol" />
	<col id="verticalCol" />
	<col id="deadlineCol" />
	<col id="budgetCol" />
	</colgroup>
	
	
	</thead>


<tbody>
  

<% if !@concepts.blank? %>
	<% for concept in @concepts %>
	  	<% if concept.status == 'Approved' %>
	  		<tr style="background-color:#99FF99;">
		<% elsif concept.status == 'Rejected' %>
			<tr style="background-color:#FF9999;">
		<% elsif concept.status == 'With Compliance' %>
			<tr style="background-color:#FFFFCC;">
		<% else %>
			<tr>
		<% end -%>
	    <td><%= link_to "#{concept.title}", concept_path(concept) %></td>
		<td><%= link_to concept.owner.login, user_path(concept.owner)  %></td>
		<td><%=h concept.created_at.strftime('%b %d %y') %></td>
	    <td><%=h concept.vertical %></td>
	    <td><%=h concept.status %></td>
	    <td><%=h concept.deadline %></td>
	    <td><%=h concept.budget %></td>
	  </tr>


	<% end %>
<% else %>
	<%= link_to "Be the first to create a concept", new_concept_path %>
<% end %>
</tbody>

</table>
<div id="pagination">
	<%= will_paginate @concepts %>
</div>
</div>