<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="robots" content="noindex" />
  <title>Concepts: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
	<div id="container">
	<div id="top">
	<h1>Concepts Tracker</h1>
	<p class="login">
		<%= 
		current_user ? "Logged in as #{current_user.login} | #{link_to("Log Out", logout_path)}" : link_to("Log In", login_path) %>
		</p>
		<% unless Concept.count == 0 %>
	<p class="stats">Total Concepts: <%= Concept.count %><br>
	   Last Concept Added: <%= Concept.find(:last).created_at.strftime('%D') %><br>
	   Concepts Approved: <%= Concept.count(:all, :group => :status, :conditions => 'status LIKE "%Approved%"').size %>
	</p>
	<% end -%>
	</div>
	<div id="leftnav">
		<ul id="nav">
			<li>
			<%= link_to ("Create Concept", new_concept_path) %> 
			</li>
			<li>
			<%= link_to ("Latest Concepts", concepts_path) %> 
			</li>
			<li>
			<%= link_to ("Contributors", users_path) %> 
			</li>
			<li>
				<%= link_to "Your Concepts", user_path(current_user) %>
			</li>
			<%=  link_to("Admin", {:controller => "admin", :action => "dashboard" }) unless (current_user && !current_user.is_admin?) %>

		</ul>
	</div>
	<div id="content">

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>
	</div>
	<div id="footer">
		<%= link_to "Found a bug or got a suggestion?", suggestions_path %>
	</div>
	</div>
</body>
</html>
